<template name="DeviceStatusLine">
  <div class="row">
    <div class="col-xs-3 center">
      {{#if device.isOnline }}
        {{#if isLowMoney }}
        <!-- <i class="material-icons orange white-text">attach_money</i> -->
        <i class="fa fa-usd fa-fw bg-warning" aria-hidden="true"></i>
        {{else}}
        <!-- <i class="material-icons" style="color: #a7ffeb">visibility</i> -->
        <i class="fa fa-eye fa-fw" aria-hidden="true" style="color: #a7ffeb"></i>
        {{/if}}
      {{else}}
      <!-- <i class="material-icons orange white-text">visibility_off</i> -->
      <i class="fa fa-eye-slash fa-fw bg-warning" aria-hidden="true"></i>
      {{/if}}
    </div>
    <div class="col-xs-3 center">
      {{#if device.isTamperOpen }}
      <!-- <i class="material-icons red accent-3 white-text">scanner</i> -->
      <i class="fa fa-folder-open fa-fw bg-danger" aria-hidden="true"></i>
      {{else}}
      <!-- <i class="material-icons" style="color: #a7ffeb">scanner</i> -->
      <i class="fa fa-folder-open fa-fw" aria-hidden="true" style="color: #a7ffeb"></i>
      {{/if}}
    </div>
    <div class="col-xs-3 center">
      {{#if device.isBatteryLow }}
      <!-- <i class="material-icons orange white-text">battery_alert</i> -->
      <i class="fa fa-battery-empty fa-fw bg-warning" aria-hidden="true"></i>
      {{else}}
      <!-- <i class="material-icons" style="color: #a7ffeb">battery_full</i> -->
      <i class="fa fa-battery-full fa-fw" aria-hidden="true" style="color: #a7ffeb"></i>
      {{/if}}
    </div>
    <div class="col-xs-3 center">
      {{#if device.isPowerLost }}
      <!-- <i class="material-icons orange white-text">power</i> -->
      <i class="fa fa-plug fa-fw bg-warning" aria-hidden="true"></i>
      {{else}}
      <!-- <i class="material-icons" style="color: #a7ffeb">power</i> -->
      <i class="fa fa-plug fa-fw" aria-hidden="true" style="color: #a7ffeb"></i>
      {{/if}}
    </div>
  </div>
</template>
