<template name="Device_card">
  <div class="col s12 m6 l3">
    <div class="card">
      <!-- {{#unless deviceDetails }} -->
      <!-- <span class="card-title blue-grey white-text" style="padding: 4px;"> -->
      <span class="card-title">
        <a href="" class="device-context-menu-btn waves-effect waves-light btn {{ device.getDeviceColorClass }}" data-activates="device-context-menu-{{ device._id }}">
          {{ device.nameOrId }}
          <!-- <i class="material-icons right" style="padding-top: 5px;">more_vert</i> -->
        </a>
      </span>
      <!-- {{/unless}} -->
      <div class="card-content js-card-device">
        <!-- <span class="card-title truncate" style="color: #607d8b">{{#if showGid }}{{ device._id }}{{else}}{{ device.nameOrId }}{{/if}}</span> -->
        <!-- <span class="center truncate card-title">
          {{#if showGid }}{{ device._id }}{{else}}{{ device.nameOrId }}{{/if}}
        </span> -->
        <div class="row">
          <div class="col s12 center">
              {{{ device.mainIconTag }}}
          </div>
        </div>
        <div class="row">
          <div class="col s12 truncate center">
            {{ device.lastHistoryMessage }}
          </div>
        </div>
        {{#if deviceDetails }}
        <div class="row">
          <div class="col s12 truncate center">
            GID:{{ device._id }}
          </div>
        </div>
        {{/if}}
      </div>
      {{> DeviceStatusLine device=device }}
      <div class="card-action center row">
        <div class="col s4">
          <a href="" class="btn waves-effect waves-light grey js-device-arm"><i class="material-icons">lock</i></a>
        </div>
        <div class="col s4">
          <a href="" class="btn waves-effect waves-light grey js-device-state"><i class="material-icons">refresh</i></a>
        </div>
        <div class="col s4">
          <a href="" class="btn waves-effect waves-light grey js-device-disarm"><i class="material-icons">lock_open</i></a>
        </div>
      </div>
    </div>
  </div>

  <ul id="device-context-menu-{{ device._id }}" class="dropdown-content">
    <li><a href="" class="js-device-arm">Arm</a></li>
    <li><a href="" class="js-device-disarm">Disarm</a></li>
    <li><a href="" class="js-device-state">State</a></li>
    {{#unless deviceDetails }}
    <li class="divider"></li>
    <li><a href="/devices/{{ device._id }}">Details</a></li>
    {{/unless}}
    <li class="divider"></li>
    <li><a href="#DeviceEdit_{{ device._id }}" class="modal-trigger js-device-edit">Edit</a></li>
    <li><a href="#DeviceRemove_{{ device._id }}" class="modal-trigger js-device-remove">Remove</a></li>
  </ul>

  {{> DeviceEdit_modal device=device }}
  {{> DeviceRemove_modal device=device }}

</template>
