<template name="DeviceDetails">

  {{> NavbarDeviceDetails device=device }}

  <div class="row tab-content">

    <div role="tabpanel" class="tab-pane active col-xs-12" id="tabInfo">

      <div class="row">
        {{> Device_card device=device deviceDetails=true }}
      </div>

      <!-- {{> BtnFloating_DeviceActions device=device }} -->

    </div>

    <div role="tabpanel" class="tab-pane col-xs-12" id="tabZones">

      {{> Zones_grid zones=zones }}

      <!-- {{> BtnFloating_DeviceActions device=device }} -->

    </div>

    <div role="tabpanel" class="tab-pane col-xs-12" id="tabHistory">

      {{> History_list history=history }}

    </div>

    <div role="tabpanel" class="tab-pane col-xs-12" id="tabUsers">

      {{> Owners_grid owners=owners }}

    </div>

  </div>


</template>
