<template name="Device_card">

  <div class="col-xs-12 {{#unless deviceDetails}}col-sm-6 col-md-3{{/unless}}">

    <div class="panel panel-{{ device.colorClass }}">

      <div class="panel-heading">
        <div class="dropdown pull-right clearfix">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="DeviceCardDropdownMenu-{{ device._id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <!-- <span class="caret" aria-hidden="true"></span> -->
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <ul id="device-context-menu-{{ device._id }}" class="dropdown-menu" aria-labelledby="DeviceCardDropdownMenu-{{ device._id }}">
            {{#if device.canArm }}
            <li><a href="" class="js-device-arm">{{_ "arm" }}</a></li>
            {{/if}}
            {{#if device.canDisarm }}
            <li><a href="" class="js-device-disarm">{{_ "disarm" }}</a></li>
            {{/if}}
            <li><a href="" class="js-device-state">{{_ "state" }}</a></li>
            {{#unless deviceDetails }}
            <li role="separator" class="divider"></li>
            <li><a href="/devices/{{ device._id }}">{{_ "details" }}</a></li>
            {{/unless}}
            <li role="separator" class="divider"></li>
            <li><a href="#DeviceEdit_{{ device._id }}" data-toggle="modal" class="js-device-edit">{{_ "edit" }}</a></li>
            <li><a href="#DeviceRemove_{{ device._id }}" data-toggle="modal" class="js-device-remove">{{_ "remove" }}</a></li>
          </ul>
        </div>
        <h3 class="panel-title">
          <!-- <a href="" class="device-context-menu-btn waves-effect waves-light btn {{ device.colorClass }}" data-activates="device-context-menu-{{ device._id }}"> -->
          {{ device.nameOrId }}
          <!-- </a> -->
        </h3>
      </div>

      <div class="panel-body text-center js-card-device">

        <div class="row">
          <div class="col-xs-12">
            {{{ device.mainIconTag }}}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            {{#if device.lastHistoryText }}
            {{ device.lastHistoryText }}
            {{else}}
            {{_ "no_info" }}
            {{/if}}
          </div>
        </div>

        {{#if deviceDetails }}
        <div class="row">
          <div class="col-xs-12">
            GID:{{ device._id }}
          </div>
        </div>
        {{/if}}

        {{> DeviceStatusLine device=device }}

      </div>


      <div class="panel-footer text-center">
        <div class="row">
          <div class="col-xs-4">
            <a href="" class="btn btn-default js-device-arm {{#unless device.canArm}}disabled{{/unless}}">
              <!-- <i class="material-icons">lock</i> -->
              <i class="fa fa-lock" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="" class="btn btn-default js-device-state">
              <!-- <i class="material-icons">refresh</i> -->
              <i class="fa fa-retweet" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="" class="btn btn-default js-device-disarm {{#unless device.canDisarm}}disabled{{/unless}}">
              <!-- <i class="material-icons">lock_open</i> -->
              <i class="fa fa-unlock" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

  {{> DeviceEdit_modal device=device }}
  {{> DeviceRemove_modal device=device }}

</template>
