<template name="ZoneEdit_modal">

  <div id="ZoneEdit_{{ zone._id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ zone.formatNum }}</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="zoneNewName_{{ zone._id }}">{{_ 'ZoneEdit_modal.name' }}</label>
              <input type="text" name="zoneNewName_{{ zone._id }}" id="zoneNewName_{{ zone._id }}" class="form-control js-char-count" value="{{ zone.name }}" maxlength="128" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-primary js-zone-edit-ok">OK</a>
          <a href="" class="btn btn-default close" data-dismiss="modal">{{_ "cancel" }}</a>
        </div>
      </div>
    </div>


  </div>

</template>
