<template name="AddNewDevice_modal">

  <div id="addNewDeviceDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{_ "AddNewDevice_modal.title" }}</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" name="newDeviceGid" id="newDeviceGid" class="form-control" maxlength="12" pattern="[0-9a-f]{12}" required>
              <label for="newDeviceGid">GID</label>
            </div>
            <div class="form-group">
              <input type="number" name="newDeviceUserNum" id="newDeviceUserNum" class="form-control" max="32" min="1" required>
              <label for="newDeviceUserNum">{{_ "AddNewDevice_modal.user_num" }}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-primary js-add-new-device">{{_ "AddNewDevice_modal.add" }}</a>
          <a href="" class="btn btn-default close" data-dismiss="modal">{{_ "cancel" }}</a>
        </div>
      </div>
    </div>
  </div>

</template>
