<template name="NavbarMain">

  <!-- <div class="navbar-fixed"> -->
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
          <!-- <span class="sr-only">Toggle navigation</span> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">{{_ 'app_title' }}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-main-collapse">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="/devices/" class="hidden-xs">{{_ 'NavbarMain.devices' }}</a>
            <a href="/devices/" class="visible-xs" data-toggle="collapse" data-target="#navbar-main-collapse">{{_ 'NavbarMain.devices' }}</a>
          </li>

          <li>
            <a href="/settings/" class="hidden-xs">{{_ 'NavbarMain.settings' }}</a>
            <a href="/settings/" class="visible-xs" data-toggle="collapse" data-target="#navbar-main-collapse">{{_ 'NavbarMain.settings' }}</a>
          </li>

          <li>
            <a href="/about/" class="hidden-xs">{{_ 'NavbarMain.about' }}</a>
            <a href="/about/" class="visible-xs" data-toggle="collapse" data-target="#navbar-main-collapse">{{_ 'NavbarMain.about' }}</a>
          </li>

          <li>
            <a href="/help/" class="hidden-xs">{{_ 'NavbarMain.help' }}</a>
            <a href="/help/" class="visible-xs" data-toggle="collapse" data-target="#navbar-main-collapse">{{_ 'NavbarMain.help' }}</a>
          </li>

          <!-- <li>{{> atNavButton }}</li> -->
          <li>
            {{#if currentUser }}
              <a href="" class="js-logout hidden-xs">{{_ 'logout' }}</a>
              <a href="" class="js-logout visible-xs" data-toggle="collapse" data-target="#navbar-main-collapse">{{_ 'logout' }}</a>
            {{else}}
              <a href="/sign-in" class="hidden-xs">{{_ 'login' }}</a>
              <a href="/sign-in" class="visible-xs" data-toggle="collapse" data-target="#navbar-main-collapse">{{_ 'login' }}</a>
            {{/if}}
          </li>

        </ul>
      </div>

    </div>

  </nav>
  <!-- </div> -->

</template>


<!-- <template name="NavbarMainItems">

  <li>
    <a href="/devices/">{{_ 'NavbarMain.devices' }}</a>
  </li>

  <li>
    <a href="/settings/">{{_ 'NavbarMain.settings' }}</a>
  </li>

  <li>
    <a href="/about/">{{_ 'NavbarMain.about' }}</a>
  </li>

  <li>
    <a href="/help/">{{_ 'NavbarMain.help' }}</a>
  </li>

  <li>
    {{> AtNavLink '' }}
  </li>
</template>


<template name="AtNavLink">
  {{#if currentUser }}
    <a href="" class="js-logout">{{_ 'logout' }}</a>
  {{else}}
    <a href="/sign-in">{{_ 'login' }}</a>
  {{/if}}
</template> -->
