<template name="NavbarMain">

  <div class="navbar-fixed">
    <nav>

      <div class="nav-wrapper blue-grey">

        <a href="/" class="brand-logo">{{_ 'app_title' }}</a>
        <a href="" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

        <!-- Wide screen menu -->
        <ul class="right hide-on-med-and-down">
          {{> NavbarMainItems '' }}
        </ul>

        <!-- Mobile screen menu -->
        <ul class="side-nav" id="mobile-menu">
          {{> NavbarMainItems '' }}
        </ul>

      </div>

    </nav>
  </div>

</template>


<template name="NavbarMainItems">
  <li><a href="/devices/">{{_ 'NavbarMain.devices' }}</a></li>
  <li><a href="/settings/">{{_ 'NavbarMain.settings' }}</a></li>
  <li><a href="/about/">{{_ 'NavbarMain.about' }}</a></li>
  <li><a href="/help/">{{_ 'NavbarMain.help' }}</a></li>
</template>
