<template name="Zone_card">

  <div class="col-xs-6 col-md-4 col-lg-2">
    <div class="panel panel-{{ zone.colorClass }} zone-card">
      <div class="panel-heading">
        <div class="dropdown pull-right clearfix">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="ZoneCardDropdownMenu-{{ zone._id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <!-- <span class="caret" aria-hidden="true"></span> -->
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <ul id="zone-context-menu-{{ device._id }}" class="dropdown-menu" aria-labelledby="ZoneCardDropdownMenu-{{ zone._id }}">
            {{#unless zone.isSiren }}
              {{#if zone.canArm }}
              <li><a href="" class="js-zone-arm">{{_ "arm" }}</a></li>
              {{/if}}
              {{#if zone.canDisarm }}
              <li><a href="" class="js-zone-disarm">{{_ "disarm" }}</a></li>
              {{/if}}
            <!-- <li><a href="" class="js-zone-state">State</a></li> -->
            <li role="separator" class="divider"></li>
            {{/unless}}
            <li><a href="#ZoneEdit_{{ zone._id }}" data-toggle="modal" class="js-zone-edit">{{_ "edit" }}</a></li>
            <li><a href="#ZoneRemove_{{ zone._id }}" data-toggle="modal" class="js-zone-remove">{{_ "remove" }}</a></li>
          </ul>
        </div>
        <h3 class="panel-title">
          <!-- <a href="" class="zone-context-menu-btn waves-effect waves-light btn {{ zone.colorClass }}" data-activates="zone-context-menu-{{ zone._id }}"> -->
          {{ zone.formatNum }}
          <!-- </a> -->
        </h3>
      </div>
      <div class="panel-body text-center">
        <p>
          {{#if zone.name }}{{ zone.name }}{{else}}&nbsp;{{/if}}
        </p>
        <p>
          {{{ zone.mainIconTag }}}
        </p>
        {{> ZoneStatusLine zone=zone }}
      </div>
    </div>
  </div>

  {{> ZoneEdit_modal zone=zone }}
  {{> ZoneRemove_modal zone=zone }}

</template>
